

@import url("https://use.typekit.net/mtx8mhm.css");
*
{
  font-family: filson-pro,sans-serif;
}

body
{
    margin: auto;
    background-color: #ffffff;
}

h1
{
    font-size: 22px;
    font-weight: 600;
    margin-top: 0%;
    margin-bottom: 0%;
}

h2
{
    font-size: 40px;
    font-weight: 600;
    margin: auto;
}

h4
{
    font-size: 30px;
    font-weight: 300;
}
h3
{
    font-size: 37px;
    font-weight: 300;
}

p
{
    font-size: 16px; 
}

a 
{
    color: black;
    text-decoration: none;
}



main
{
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}
#typedtext{
  text-align: center;
  font-size: 20px;
  justify-content: center;
  padding: 20px;
  
}
.hello h3{
  font-size:  40px;
  font-weight: bold;
}
.hello p{
  font-size:  20px;
}
.hello {
  text-align: center;
  padding-bottom: 30px;
}


.bloc0{
  width: 100%;
  height: 700px;
  z-index: -1;
  background: linear-gradient(-45deg,#c29cd7,#ffc8dd,#ffafcc,#bde0fe,#a2d2ff,#d6b2ee,#ffafcc,#bde0fe,#a2d2ff);
  background-size: 300% 300%;
  position: absolute;
  animation: moving 10s ease-in-out infinite;
  border-bottom-left-radius: 50% 60%;
  border-bottom-right-radius: 50% 60%;


}

/* BLOCK1 */
.bloc1{
  display: flex;
  padding-top: 60px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
}
.greeny-1 p{
     padding-left: 20px;
     padding-right: 20px;
}
.competences p{
  font-size: 18px;
  margin: auto;
}
.designer{
  display: flex;
}
.designer h2{
  font-size: 90px;
  padding-left: 10px;
  margin: auto;
  transition: 1s ease-in;
}

/* BLOCK2 */
.bloc2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;

}


  .conteneurProjet{
    align-items: center;
    margin: auto;
    justify-content: center;
  }
  
.conteneur1{
  max-width: 800px;
  max-height: 600px;
  align-items: center;
  margin: auto;
}
.info-header H3, H4{
  margin: auto;
}
.fleche{
  font-size: 30px;
}
.info-header H3{
  padding-bottom: 15px;
}
.bloc2 video{
  width: 65%;
  display: flex;
}
.p1 a{
  border-radius: 0;

}


.image-header{
  width: 100%;
}

/* HEADER */

header {
  display: flex;
  height: 90px;
  width: 80%;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: solid black 1px;
  margin: auto;
}


/* NAVIGATION */

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.toggle{
  display: none;

}
.menu{
  display: flex;
  align-items: center;
  list-style: none;
  width: 500px;
  gap: 35px;

}
.menu li a{
  text-decoration: none;
  padding: 7px 9px 7px 9px;
}
.menu a:hover{
  border: solid black 1px;
  border-radius: 30px;
}
.menu a:focus
{
  border: solid black 1px;
  border-radius: 30px;

}
.infoos{
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.infoos i{
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 15px;
}
.infoos a{
  font-size: 15px;
  padding: 10px;
  border: solid black 1px;
  border-radius: 30px;
}
.infoos a:hover{
  font-size: 15px;
  transition: 0.5s;
  padding: 10px;
  color: #ffffff;
  border: solid black 1px;
  background-color: black;
  border-radius: 30px;
}

.conteneur2{
  margin: auto;
  text-align: center;
  align-items: center;
}
.conteneur2 p{
  font-size: 35px;
  padding: 80px 25px 0 25px;
}

.Service{
    padding-top: 50px;
    padding-left: 10px;
    padding-left: 10px;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
    
    flex-basis: 100%;
  
  }
.Mesprojets{
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;


}
.blocA{
  width: 100%;
  
}

.mesprojetscont h2{
  font-size: 45px;
  padding-bottom: 100px;
  font-weight: 600;

}
.mesprojetscont{
  margin-left: 20px;
  margin-right: 20px;
  flex-wrap: wrap;
}
.p2img, .p01,.p02,.p04,.p05{
    width: 500px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 30px 0px #9b9898;
    background-size: 100%;
    background-position: top;
    transition: all 0.3s ease-in-out;
  }
  .p06{
    width: 500px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 30px 0px #9b9898;
    background-size: 100%;
    background-position: center;
    transition: all 0.3s ease-in-out;
  }
  .p03{
    width: 500px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 30px 0px #9b9898;
    background-size: 105%;
    background-position: center;
    transition: all 0.3s ease-in-out;
  }
  .p2img:hover{
    
    transform: scale(1.02);
  }

.p01{
  background-image: url("./image/Greeny-3-2.png");
}
.p02{
  background-image: url("./image/Néoo.jpg");
}
.p03{
  background-image: url("./image/Little\ Seoul\ 1-2.png");
}
.p04{
  background-image: url("./image/phobogene.png");
}
.p05{
  background-image: url("./image/Converse-affiche-2019-1.png");
}
.p06{
  background-image: url("./image/maya.png");

}
.greeny-1{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}
.greenyp1 {
  max-width: 800px;
  padding-bottom: 20px;
}
.greeny-1 h3{
  font-size: 20px;
  padding: 0%;
  margin-bottom: 20px;
}
.greeny-1 p{
  padding-bottom: 30px;
}
.greenyp2{
  max-width: 600px;
  box-shadow: 0px 0px 30px 0px #e1e2e7;
  margin-bottom: 30px;

}
.dit h4{
  font-size: 18px;
  padding: 0%;
  margin: 0;

}
.seoulp1{
  max-width: 600px;
  margin-bottom: 20px;
  padding-top: 20px;
}
.seoulp2{
  max-width: 600px;
  margin-bottom: 20px;
}
.seoulp3{
  max-width: 600px;
  margin-bottom: 20px;
}

.conteneurProjet{
  display: flex;
  padding-bottom: 80px;
  flex-wrap: wrap;

}
.plusplus{
  padding: 9px;
}
.bloc3{
  display: flex;
  justify-content: center;
  padding-top: 100px;
  margin-top: 120px;
  background-image: -webkit-linear-gradient(-45deg,white,#c29cd754,#ffc8dd5f,#ffafcc5c,#bde0fe5d,#a2d2ff5e,#d6b2ee61,#ffafcc61,#bde0fe52,#a2d2ff57);

}
.projet1{
  padding-right: 100px;
  width: 500px;
}
.projet2{
  padding-left: 40px;
  padding-bottom: 40px;
}
footer {
  background-color: black;
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 50% 20%;
  margin-top: -49px;
  color: white;
  padding: 50px;
  z-index: 6;
position: relative;}
.copring{
  justify-content: center;
  text-align: center;
}
.copring p{
  padding-top: 15px;
  color: #262627;

}
.footer01 p{
  padding-left: 40px;
  align-items: center;
}

.bloc00 {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#c29cd7,#ffc8dd,#ffafcc,#bde0fe,#a2d2ff,#f2ddff,#ffafcc,#bde0fe,#b7dcff);
  border-radius: 0 0 800px 800px;
  background-size: 800% 800%;
  margin: 0px;
  padding:0%;
  
}
.bloc000 {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#98a6ad,#ddb788,#f3c8d2);
  border-radius: 0 0 800px 800px;
  background-size: 800% 800%;
  margin: 0px;
  padding:0%;
  
}
.bloc0000 {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:#dddfe4;
  border-radius: 0 0 800px 800px;
  background-size: 800% 800%;
  margin: 0px;
  padding:0%;
  
}






@keyframes moving{
   0%{
     background-position: 0 50%;
   }
   50%{
    background-position: 100% 50%;
   }
   100%{
    background-position: 0 50%;
   }

}
.competences p{
  padding: 0;
}

.Service img{
  max-width: 100px;
  max-height: 100px;
  margin: auto;
}


.Service div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;}


.gradient{
    height: 300px;
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 0px #ecedf2;
    background: linear-gradient(-45deg,#c29cd73c,#ffc8dd45,#a2d2ff52);
    border-radius: 25px;
    transition: all .1s ease-in-out;
    
}
.gradient:hover{
  transform: scale(1.02); 
}
.gradient img, h3, p{
  margin: 0 auto;
}
.dit img, h3, p{
  margin: 0 auto;
  padding: 6px;
}


.Service h2{
  flex-basis: 100%;
  text-align: center;
  margin: auto;
  font-weight: 600;
  font-size: 45px;
  padding-bottom: 10px;
}



@media screen and (max-width: 550px) {

  .p2img{
  width: 400px;
  height: 247px;
  transition: none;
}
.mesprojetscont h2{
     font-size: 40px;
}
.Service h2{
  font-size: 40px;
}
.mesprojetscont {
  text-align: center;   
    max-width: 800px;
  }

    
    

     }@media screen and (max-width: 830px){
      .greenyp1{
        max-width: 650px;
      }
      .greenyp2{
        max-width: 600px;
      }


     }
     @media screen and (max-width: 680px){
      .greenyp1{
        max-width: 500px;
      }
      .greenyp2{
        max-width: 400px;
      }
      .seoulp1,.seoulp2,.seoulp3{
        max-width: 490px;
        padding-top: 15px;
      }
    

     }
     @media screen and (max-width: 525px){
      .greenyp1{
        max-width: 400px;
      }
      .greenyp2{
        max-width: 300px;
      }
      .seoulp1,.seoulp2,.seoulp3{
        max-width: 400px;
        padding-top: 15px;
      }

     }
     @media screen and (max-width: 400px){
      .greenyp1{
        max-width: 350px;
      }
      .greenyp2{
        max-width: 250px;
      }
      .seoulp1,.seoulp2,.seoulp3{
        max-width: 350px;
        padding-top: 15px;
      }

     }
     @media screen and (max-width: 380px){
      .greenyp1{
        max-width: 300px;
      }
      .greenyp2{
        max-width: 200px;
      }
      .seoulp1,.seoulp2,.seoulp3{
        max-width: 300px;
        padding-top: 15px;
      }

     }
     
    @media screen and (max-width: 787px) {
      

  .bloc2{
    padding-bottom: 20px;
  }
    .competences p{
        font-size: 14px;
      }
      .designer h2{
        font-size: 75px;
      } 
      .infoos{
       
        padding-top: 30px;
      }
    
    }
    
    @media screen and (max-width: 495px) {
        
        .bloc2 video{
          width: 95%;
        }
        .p2img{
          width: 360px;
          height: 220px;
          transition: none;
        }
        
        .competences p{
            font-size: 10px;
            font-weight: bold;
          }
          .designer h2{
            font-size: 52px;
          } }
          @media screen and (max-width: 900px) {
            .toggle{
                display: block;
                font-size: 20px;
                cursor: pointer;
                position: relative;
                z-index: 20;

              }
              .projet2{
                padding-left: 0%;
                padding-right: 0%;
                padding-bottom: 25px;
              }
              .bloc0{
                border-radius: 0 0 450px 450px;
              }
              .bloc1{
                padding-top: 50px;
              }
              
              h1{
                position: relative;
                z-index: 20;
              }
              header{
                background: transparent;
              }
              .menu {
                gap: 70px;
              }
              .Apro{
                margin-top: 140px; 
              }
              
            
            .ouvrir{
              display: block;
            }
            .fermer{
              display: none;
            }
            .open .ouvrir{
              display: none;
            }
            .open .fermer{
              display: block;
            }

            .menu {
              position: absolute;
              z-index: 1;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: radial-gradient(#c29cd7,#ffc8dd,#ffafcc,#bde0fe,#a2d2ff,#f2ddff,#ffafcc,#bde0fe,#b7dcff);
              border-radius: 0 0 450px 450px;
              background-size: 800% 800%;
              animation: moving 20s ease-in-out infinite;
              flex-direction: column;
              transform: translateX(-100%) ;
              transition: 1s;
              margin: 0px;
              padding:0%;
              
            }
            .menu li a {
              font-size: 25px;
            }
            .open .menu{
              transform:translateX(0%)
            }
            }

            
            
            
            
            
            
            .macbook {
              width: 700px;
            }
            
            .screen {
              background: #000;
              border-radius: 3% 3% 0.5% 0.5% / 5%;
              margin: 0 auto;
              /* for aspect ratio */
              position: relative;
              width: 80%;
            }
            
            .screen:before {
              border: 2px solid #cacacc;
              border-radius: 3% 3% 0.5% 0.5% / 5%;
              box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.8) inset, 0 0 1px 2px rgba(255, 255, 255, 0.3) inset;
              content: "";
              display: block;
              /* for aspect ratio ~67:100 */
              padding-top: 67%;
            }
            
            .screen:after {
              content: "";
              border-top: 2px solid rgba(255, 255, 255, 0.15);
              position: absolute;
              bottom: 0.75%;
              left: 0.5%;
              padding-top: 1%;
              width: 99%;
            }
            
            .viewport {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              top: 0;
              margin: 4.3% 3.2%;
              background: rgb(255, 255, 255);
            }
            
            
            .base {
              /* for aspect ratio */
              position: relative;
              width: 100%;
            }
            
            .base:before {
              content: "";
              display: block;
              /* for aspect ratio ~33:1000*/
              padding-top: 3.3%;
              /* stylin */
              background: linear-gradient(#eaeced, #edeef0 55%, #fff 55%, #8a8b8f 56%, #999ba0 61%, #4B4B4F 84%, #262627 89%, rgba(0, 0, 0, .01) 98%);
              border-radius: 0 0 10% 10%/ 0 0 50% 50%;
            }
            
            .base::after {
              background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.8) 0.5%, rgba(0, 0, 0, 0.4) 3.3%, transparent 15%, rgba(255, 255, 255, 0.8) 50%, transparent 85%, rgba(0, 0, 0, 0.4) 96.7%, rgba(255, 255, 255, 0.8) 99.5%, rgba(0, 0, 0, 0.5) 100%);
              content: "";
              height: 53%;
              position: absolute;
              top: 0;
              width: 100%;
            }
            
            .notch {
              background: #ddd;
              border-radius: 0 0 7% 7% / 0 0 95% 95%;
              box-shadow: -5px -1px 3px rgba(0, 0, 0, 0.2) inset, 5px -1px 3px rgba(0, 0, 0, 0.2) inset;
              margin-left: auto;
              margin-right: auto;
              margin-top: -3.5%;
              /* for aspect ratio */
              position: relative;
              width: 14%;
            }
            
            .notch:before {
              content: "";
              display: block;
              /* for aspect ratio ~1:10 */
              padding-top: 10%;
            }
            
            
            /* Screenshot Hover Scroll Additions
            -------------------------------------------------------------- */
            
            .macbook .viewport {
              transition: background-position 3s ease;
              background-position: 0 0;
              background-size: 100% auto;
              overflow: hidden;
              cursor: pointer;
            }
            
            .macbook:hover .viewport {
              background-position: 0 100%;
            }
            
            .macbook .viewport:after {
              background: radial-gradient(circle at right bottom, transparent 75%, rgba(255, 255, 255, 0.05) 75%, transparent);
              bottom: 0;
              content: "";
              left: 0;
              position: absolute;
              right: 0;
              top: 0;
            }


            @media screen and (max-width: 700px) {

              .macbook {
                width: 500px;
              }
              .conteneur2 p{
                font-size: 25px;
                padding: 20px 15px 0 15px;
              }
                 }
                 @media screen and (max-width: 550px) {

                  .macbook {
                    width: 400px;
                  }
                  .conteneur2 p{
                    font-size: 20px;
                    padding: 20px 15px 0 15px;
                  }
                     }

                     @media screen and (max-width: 550px) {

                      .macbook {
                        width: 380px;
                      }
                      .conteneur2 p{
                        font-size: 20px;
                        padding: 20px 15px 0 15px;
                      }
                         }